*{
    padding: 0;
    margin: 0;
    border: none;
}

ul, li{
    list-style: none;
}

a {
    color: black;
    text-decoration-line: none;
}

@font-face {
    font-family: 'tway';
    src: url(../../asset/tway_air.ttf) format('truetype');
}

@font-face {
    font-family: 'onebold';
    src: url(../../asset/ONE\ Mobile\ Bold.ttf) format('truetype');
}

body{
    font-family: 'tway';
    height: 100vh;
}

#logo {
    margin: 30px 30px 0 30px;
    float: left;
}

#header {
    width: 1200px;
    height: 150px;
    margin: 0 auto;
}

#menubar > ul > li {
    display: inline-block;
    padding: 30px 0;
}

#menubar > ul > li > a {
    font-size: 20px;
    margin: 0 10px;
}

.userbar {
    float: right;
    margin: 8px 0;
}

#submenu{
    height: 0;
    overflow: hidden;
}

#menuhover {
    overflow: hidden;
}

#menuhoverli {
    width: 15%; 
    float: left;
    line-height: 35px;
    text-align: center;
  }

#menuhover > li:hover #submenu {
    height: 100px;
    transition-duration: 1s;
}

.loginboxwrap {
    box-sizing: border-box;
    width: 800px;
    margin: 0 auto;
    padding: 40px;
    text-align:center;
    display: flex;
}

#loginbox {
    border: 1px solid #9ca79e80;
    border-radius: 3px;
    height: 240px;
    width: 200%;
    padding: 80px 0 110px 0;    
    display: inline-block; 
}

#loginbox > input {
    border: 1.8px solid #9ca79e80;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: 'onebold';
    letter-spacing: 1.5px;
    height: 50px;
    width: 50%;
    margin: 10px 0;
    padding: 10px;
}

#loginbox > button {
    background-color: #3ED182;
    color:aliceblue;
    font-family: 'onebold';
    font-size: 15px;
    letter-spacing: 2px;
    border-radius: 6px;
    box-sizing: border-box;
    height: 50px;
    width: 50%;
    margin: 10px 0 20px 0;
    padding: 0 10px;
}

#loginbox > a {
    color: #9ca79e;
    font-family: 'onebold';
    text-decoration-line: none;
}