spring:
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        #        format_sql: true
        #        show_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  #    defer-datasource-initialization: true

  datasource:
    url: jdbc:postgresql://43.200.176.111:5432/postgres
    username: seho
    password: tmxjel14145

  h2:
    console:
      enabled: true
      settings:
        web-allow-others: true

  sql:
    init:
      mode : always
      platform: h2

  output:
    ansi:
      enabled: always

  profiles:
    include: private

authentication:
  access-token:
    secretKey: ${JWT_SECRET}

ai:
  server-url: "http://3.34.179.78:8080/ai/certification"

logging:
  level:
    org.springframework.web.socket.config.WebSocketMessageBrokerStats: ERROR
#server:
#  error:
#    include-message: always

